

<div class="container">
    <div class="my-3">
        <h2> Take, TakeLast & TakeUntil </h2>

        <div class="row">

            <div class="col-md-4">
                <strong> Ex -01 | Take(5) </strong>
                <hr>
                <ul id="elcontainer" >
                </ul>
            </div>

            <div class="col-md-4">
                <strong> Ex -03 | TakeLast(5) </strong>
                <hr>
                <ul id="elcontainer2" >
                </ul>
            </div>

            <div class="col-md-4">
                <strong> Ex -03 | TakeUntil(Condition) Click To Stop </strong>
                <hr>
                <ul id="elcontainer3" >
                </ul>
            </div>

        </div>

    </div>
</div>