<div class="container">

<div class="my-3">
    <h2> Map Tutorials </h2>

    <div class="row">
        <div class="col-md-4">
            <strong>  Ex - 01 </strong>
            <hr>
            <p class="border rounded bg-light py-2 py-3" >
                <strong class="text-danger" > Map </strong> 'Video' + data
            </p>
            <br>
            <p> <strong class="text-primary" > {{msg1}} </strong> </p>
        </div>

        <div class="col-md-4">
            <strong>  Ex - 02 </strong>
            <hr>
            <p class="border rounded bg-light py-2 py-3" >
                <strong class="text-warning" > Map </strong> Data => data *10
            </p>
            <br>
            <p> <strong class="text-primary" > {{msg2}} </strong> </p>
        </div>

        <div class="col-md-4">
            <strong>  Ex - 03 </strong>
            <hr>
            <p class="border rounded bg-light py-2 py-3" >
                <strong class="text-success"  > Map </strong> Map Object Data
            </p>
            <br>
            <ul id="elcontainer"   >  </ul>
        </div>

    </div>

</div>

</div>
