

<div class="container">
<div class="row">
    <h2> Creating Observables Streams </h2>
    <div class="col-md-12">

        <ul class="list">
            <li>
                <a routerLink="fromevent" > From Event  </a>
            </li>
            <li>
                <a routerLink="interval" > Interval  </a>
            </li>
            <li>
                <a routerLink="of" > Of-From </a>
            </li>
            <li>
                <a routerLink="toarray" > To-Array </a>
            </li>
            <li>
                <a routerLink="custom" > Custom Observables</a>
            </li>
            <li>
                <a routerLink="map" > Map </a>
            </li>
            <li>
                <a routerLink="pluck" > Pluck </a>
            </li>
            <li>
                <a routerLink="filter" > Filter </a>
            </li>
            <li>
                <a routerLink="tap" > Tap/do </a>
            </li>
            <li>
                <a routerLink="take" > Take, TakeLast & TakeUntil </a>
            </li>
            <li>
                <a routerLink="Retry" > Retry</a>
            </li>
            <li>
                <a routerLink="debounce" > Debounce Time</a>
            </li>
            <li>
                <a routerLink="subject" > Subject </a>
            </li>
        </ul>
        
    </div>
</div>
</div>