<!-- Observables  Stream Creation                        Observable Handle(subscribe)                
- User Input(Button on click)                           -Data
-Http Requet  Mostly with this method                   -Error
- Array                                                 -Completion
-Object

.subscribe(
    (data) = console.log(data),             // Data is Handled
    (error) = console.log(error),           // Error is Handled
    () = console.log("Completed Form"),     // OnCompletion is Handled
) -->

<router-outlet></router-outlet>

