<p>offrom works!</p>


<div class="container">
    <div class="my-3">
        <h2> Of & From </h2>
        <br>
            <strong> Ex - 01 (OF) </strong>   

            <div class="row">
               
                <div class="col-md-6">
                    <p class="border rounded bg-light py-2 py-3 " >  <strong> Data: </strong> Of('Anup', 'Shekhar' , 'Anmol')  </p>
                    <hr>
                    <ul id="elcontainer" >
                    </ul>
                </div>
                
                <div class="col-md-6">
                    <p class="border rounded bg-light py-2 py-3 " >  <strong> Data: </strong> Of(&#123; a:'Aman', b:'Souvik',c:'Rupesh' &#125;)  </p>
                    <hr>
                    <ul id="elcontainer2" >
                        <li><strong>a :</strong> {{objMsg.a}} </li>
                        <li><strong>b :</strong> {{objMsg.b}} </li>
                        <li><strong>c :</strong> {{objMsg.c}} </li>
                    </ul>

                </div>

            </div>

            <strong> Ex - 02 (FROM) </strong>   
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <strong>Array</strong>
                    <hr>
                    <p class="border rounded bg-light py-2 py-3 " >  <strong> Data: </strong> From(['Warton', 'Alex' , 'John'])  </p>
                    <hr>
                    <ul id="elcontainer6" >
                    </ul>
                </div>

                <div class="col-md-4">
                    <strong> Promise </strong>
                    <hr>
                    <p class="border rounded bg-light py-2 py-3 " >  <strong> Promise to Observable </strong> </p>
                    <hr>
                    <ul id="elcontainer7" >
                    </ul>
                </div>

                <div class="col-md-4">
                    <strong> String </strong>
                    <hr>
                    <p class="border rounded bg-light py-2 py-3 " >  <strong> String to Observable </strong> </p>
                    <hr>
                    <ul id="elcontainer8" >
                    </ul>
                </div>

            </div>

    </div>
</div>